<h1>Pirates</h1>

<ul>
  <% @pirates.each do |pirate| %>
  <li><em>Name: <%= pirate.name %></em></li>
  <li><em>Weight: <%= pirate.weight %></em></li>
  <li><em>Height: <%= pirate.height %></em></li>
  
  <% end %>
  
</ul>




  